body {
  margin: 0;
  padding:0;
  border:0;
  width:100%;
  background-color: white;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 10em;
    height: 100%;
    z-index: -10;
    border-right: 3px solid #73a0c5;
}

#title {
  background-color: #73a0c5;
  font-family: sans-serif;
  margin: 0;
  padding: 0.3em;
  color: white;
  font-size: 1.5em;
}

#title a { font-weight: bold; font-size: 2.5em; }
#subtitle { clear: left; }

#sidebar a {
  color: white;
  text-decoration: none;
}

#menu {
  background-color: #f4f4f4;
  padding: 0.5em;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
  height: 100%;
  line-height: 200%;
}

#menu a:before {
    content: "\00bb";
    margin-right: 0.5em;
}

#menu a:link, #menu a:visited, #menu a:hover {
  color: black;
  text-decoration: none;
}
#menu a:hover {
  color: blue;
  text-decoration: none;
}

h1 {
  margin-top: 0.5em;
}

#main {
  position: absolute;
  left: 10em;
  top: 0;
  padding-left: 1em;
  padding-right: 1em;
}

#header {
  padding-top: 0em;
}

#content {
  padding-top: 0em;
}

@media print {
  #sidebar { display: none; }
  #main { position: relative; left: 0em; padding: 0; }
}
